<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function save_key() {
            // get key value from input
            const key = $('#login-key').val();

            $.ajax({
                type: "POST",
                url: "/login",
                data: {key_give: key},
                success: function (response) {
                    alert(response['msg'])
                    console.log("wow")
                    window.location.href = "/home";
                }
            })
        }

        function register() {
            $.ajax({
                type:"GET",
                url:"/signup",
                data:{},
                success: function(response) {
                    window.location.href = "/signup";
                }

            })
        }

    </script>
</head>


<body>
<form>
    <label for="name">웹사이트 주인이 가장 좋아하는 음식은?</label>
    <input type="text" id="login-key" name="name" placeholder="음식">
    <button onclick="save_key()" type="button">제출</button>
    <button onclick="register()" type="button">회원가입</button>
</form>
</body>
</html>