<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

function save_key() {
  // get key value from input
  const key = $('#login-key').val();

  $.ajax({
    type:"POST",
    url:"/login",
    data: {key_give:key},
    success: function(response) {
      alert(response['msg'])
      console.log("wow")
      window.location.href="/home";
    }
  })
}

</script>
<body>
<form>
  <label for="name">웹사이트 주인이 가장 좋아하는 음식은?</label>
  <input type="text" id="login-key" name="name" placeholder="비밀번호">
  <button onclick="save_key()" type="button">제출</button>
</form>
</body>
</html>