<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        
        function login() {
            const key = $('#key').val();
            const id = $('#id').val();
            const pw = $('#pw').val();

            // Break: Check if Both id and pw is typed?
            if(!(key && id && pw)) {
                return alert('음식이나 ID, PW 중 무언가가 빠져있습니다 🥱')
            }
            $.ajax({
                type: "POST",
                url:"/login",
                data:{
                    key_give: key,
                    id_give: id,
                    pw_give: pw
                },
                success: function(response) {
                    
                    if (Number(response['available'])) {
                        alert(`성공: ${response['msg']}`)
                        window.location.href = "/home"
                    } else {
                        alert(`실패: ${response['msg']}`)
                    }
                }
            })
        }

        function register() {
            $.ajax({
                type:"GET",
                url:"/register",
                data:{},
                success: function(response) {
                    window.location.href = "/register";
                }
            })
        }

    </script>
</head>


<body>
<form>
    <label for="name">웹사이트 주인이 가장 좋아하는 음식은?</label>
    <input type="text" id="key" name="name" placeholder="음식">
    <br>
    <label for="id">아이디</label>
    <input type="text" id="id" name="id" placeholder="아이디">
    <br>
    <label for="pw">비밀번호</label>
    <input type="text" id="pw" name="pw" placeholder="비밀번호">
    <br>
    <button onclick="login()" type="button">로그인</button>
</form>

<button onclick="register()" type="button">회원가입</button>
</body>
</html>