<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function register() {
            const id = $('#id').val()
            const pw = $('#pw').val()

            // Both id and pw is typed?
            if(!(id && pw)) {
                alert('아이디 또는 패스워드를 넣어주세요')
            } else {
              alert(canRegister(id, pw))
            }

        }

        function canRegister(input_id, input_pw) {
            $.ajax({
                type: "POST",
                url: "/isRegistered",
                data: {
                    id_give: input_id,
                    pw_give: input_pw
                },
                success: function(response) {
                    // response["isAccExist"]? alert('id is already registered..') : alert('You can go with this id')
                    return response['available']
                }
            })
        }

    </script>
</head>
<body>
<form>
    <label for="id">id</label>
    <input type="text" id="id" name="id" placeholder="아이디"></br>
    <label for="pw">pw</label>
    <input type="text" id="pw" name="pw" placeholder="비밀번호"></br>
    <button onclick="register()" type="button" id="form_register">회원가입</button>
</form>
</body>

</html>